h2 { 
  font-family: helvetica;
  font-size: 26px;
  color: #000033;
  background-color: #99ccff;
}

h3 { 
  font-family: helvetica;
  font-size: 16px;
  color: #99ccff;
  background-color: #000033;
 }

p { 
  font-family: helvetica;
  font-size: 16px;
 }

li { 
  font-family: helvetica;
  font-size: 16px;

 }

td { 
font-family: helvetica;
  font-size: 16px;
 }

input { 
  font-family: courier,helvetica;
  font-weight: bold;
  font-size: 20px;
  color: #0000aa;

}

option { 
  font-family: courier;
  font-size: 20px;
  color: #0000aa;
 }

div.baadinfo {
   background-color: #aaa;
   border: 1px solid #ccc;
   width: 90%;
   margin-top: 1em;
}

div.baadinfo.ledig {
   background-color: #afa;
   border-color: #cac;
}

div.baadinfo.optaget {
   background-color: #faa;
   border-color: #acc;
}

div.baadinfo.min_baad {
   background-color: #ffa;
   border: 2px solid #aac;
}

.login-boks {
  background-color: #ddd;
}

table.login-boks th {
  text-align: left;

}

.infotable {
   background-color: #ddd;
}
table.infotable th {
   text-align: left;
}

span.tilmeld_span {
   margin-left: 3em;
   display: inline;
} 
span.tilmeld_span form {
   display: inline;
   margin: 0px;
}

.error {
   color: #c00;
   font-weight: bold;
}

.ok {
   color: #0c0;
   font-weight: bold;
}
